.reg_main_div{
  display: flex;
  box-shadow: 1px 1px 9px 1px silver;
  border-radius: 5px;
}
.for_reg{
    width:100%;
    /* border: 1px solid green; */
    padding: 10px;
}
.for_icon{
    width:30%;
    border-left: 0.01em solid silver;
    display: none;
    color: rgb(21, 12, 51);
}
.comp_reg_div h4{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgb(38, 20, 93);
    color: white;
}
.pagechange{
    text-align: center;
    margin: 130px 46% 0;
    color: white;
    background: rgb(21, 12, 51);
    width: 31px;
    padding: 6px 0;
    border-radius: 50px;
}
#organisation{
    font-size: 80px;
    margin:70px 37.5% 10px;
}
#icon_for_sm{
    display: none;
    color:  rgb(21, 12, 51);
}

@media screen and (min-device-width: 1020px) and (max-device-width: 2500px) { 
    
    .for_icon{
        display: block;
    }
    .for_reg{
        width:70%;
    }
    .for_reg{
        padding: 40px;
    }

}
@media screen and (min-device-width: 340px) and (max-device-width: 1020px) { 
    
    .for_reg{
        padding: 30px;
    }
    .for_reg label{
        color: rgb(21, 12, 51);
    }
    .for_reg h5{
        color: rgb(21, 12, 51);
    }

}
@media screen and (min-device-width: 440px) and (max-device-width: 1020px) { 
    
       #icon_for_sm{
        font-size: 31px;
        margin: 0 5px 6px  ;
        display: block;
    }

}
@media screen and (min-device-width: 0) and (max-device-width: 440px) { 
    
    #icon_for_sm{
     font-size: 25px;
     margin: 2px 5px 0 5px ;
     display: block;
 }
 .for_reg label{
    color: rgb(21, 12, 51);
}
.for_reg h5{
    color: rgb(21, 12, 51);
}

}